#about-section .heading{
  font-size: clamp(3.125rem, 9vw, 6.25rem);
}

#about-section .more-about-me{
  font-size: var(--small-Fsize);
  color: var(--primary-color);
  opacity: 0.7;
  margin-bottom: 5rem;
  text-align: center;
  opacity: 0;
}

#about-section .years-of-doing.d-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
  justify-items: center; 
  text-align: center;
  max-width: 16rem;
  margin-inline: auto;
}

.years-of-doing.d-grid .clients{
  grid-column: 1 / -1;
}

#about-section .years-of-doing{
  opacity: 0;
}

#about-section .years-of-doing .years{
  font-size: clamp(3.125rem, 7vw, 4.375rem);
  line-height: 1.2em;
}

#about-section .years-of-doing p{
  font-size: var(--XS-Fsize);
  color: var(--primary-color);
  opacity: 0.7;
}

@media(width >= 1000px){
  #about-section .more-about-me{
    text-align: left;
  }

  #about-section .years-of-doing.d-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left; 
    text-align: left;
    margin-inline: initial;
    gap: 40px;
  }

  
  #about-section .years-of-doing .years{
    font-size: clamp(3.125rem, 7vw, 4.2rem);
    line-height: 1.2em;

  }

  .years-of-doing.d-grid .clients{
    grid-column: initial;
  }
}
