@keyframes topnav-label{
  0%{
    opacity: 0;
    top: 0;
  }
  20%{
    opacity: 0.2;
    top: 0.7rem
  }
  50%{
    opacity: 0.4;
    top: 0.8rem;
  }
  75%{
    opacity: 0.6;
    top: 1.5rem;
  }
  100%{
    opacity: 1;
    top: 2rem;
  }
}

@keyframes profile-entry{
  from{
    opacity: 0;
    transform: translateY(-100px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes name-entry{
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  20%{
    opacity: 0;
  }

  50%{
    opacity: 0.4;
  }

  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes profile-about-entry{
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  40%{
    opacity: 0.1;
  }

  to{
    opacity: 0.7;
    transform: translateY(0px);
  }
}

@keyframes sec-heading-entry{
  0%{
    transform: translateY(-40px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes years-doing-entry{
  40%{
    opacity: 0.1;
    transform: translateY(30px);
  }

  
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes skill-button-entry{
  from{
    transform: translateX(-20px);
  }
  to{
      transform: translateX(0px);
      opacity: 1;
  }
}

@keyframes cards-entry {
  from{
    transform: translateY(20px);
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes contact-input-entry{
  from{
    transform: translateY(30px);
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}
