footer{
  text-align: center;
  margin-top: 2rem;
  background-color: #e8c206 ;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color:var(--neutral-color);
}

footer .copyright-text{
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

footer .socmed-nav {
  margin-top: 0.5rem;
}

footer .socmed-nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1.2rem;
}

footer .socmed-nav ul a .socmed-icon{
  max-width: 1.6rem;
  filter: brightness(0) saturate(100%) invert(15%) sepia(7%) saturate(376%) hue-rotate(177deg) brightness(97%) contrast(85%);
}