#projects-section .heading {
  margin-bottom: 2rem;
}

#projects-section .projects-container .project-card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  margin-bottom: 0.5rem;
  column-gap: 1rem;
  cursor: pointer;
  border-radius: 16px;
  transition: 0.4s;
  opacity: 0;
}

.project-link {
  display: block;
  text-decoration: none;
}
  
  .project-card {
    border: 2px solid #00ADB5;
    padding: 15px;
    margin: 10px;
    transition: transform 0.3s;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
.project-card .project-icon {
  width: clamp(5rem, 15vw, 10rem);
}

.project-card .project-title {
  font-size: var(--medium-Fsize);
  line-height: 1.2em;
  margin-bottom: 0.5rem;
}

.project-card .project-description {
  color: var(--primary-color);
  font-size: var(--XS-Fsize);
  opacity: 0.7;
}

.project-title, .project-description {
  color: #EFEEEF;
  text-decoration: none;
}

.project-card .arrow-icon {
  position: absolute;
  max-width: 0.9rem;
  right: 20px;
  top: 30px;
  transition: 0.4s;
}

#projects-section .projects-container .project-card:hover {
  background-color: rgba(0, 0, 0, 0.150);
}

#projects-section .projects-container .project-card:hover > .arrow-icon {
  top: 15px;
  right: 15px;
}
